<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Monster Marketplace</title>
    <!-- Integrating Bulma CSS Framework and style.css file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!-- NAV BAR -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
         
            <img src="/images/cookiemonster.avif" width="112" height="28">
          
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="nav" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              Home
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Categories
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Health & Fitness
                  </a>
                  <a class="navbar-item">
                    Electronics
                  </a>
                  <a class="navbar-item">
                    Movies & Games
                  </a>
                  <a class="navbar-item">
                    Books
                  </a>
                </div>
              </div>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About us
                </a>
                <a class="navbar-item">
                  Contact us
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
          </div>
          <div class="navbar-item is-expanded">
          <label for="search"></label>
          <input class="input is-info" type="search" id="search-bar" placeholder="Search" />
          <button id="searchbtn" class="button is-info">Search</button>
           </div>
      
          <div class="navbar-end">
            <a href="/cart" class="navbar-item" href="#">
                <img src="/images/shopping-cart_711897.png" width="28" height="28">
            </a>
            <div class="navbar-item">
              <div class="buttons">
                <a href="/signup" class="button is-link" id = "signup">
                  <strong>Sign up</strong>
                </a>
                {{#if logged_in}}
                <button class="button is-info" id="logout">logout</button>
                {{else}}
                <a href="/login" id="login" class="button is-info" >
                  Log in
                </a>
                 {{/if}}
              </div>
            </div>
          </div>
        </div>
      </nav>
    <main>
      <div class="container hero">
        {{{body}}}
      </div>
    </main>
    {{#if logged_in}}
    <script src='/js/logout.js'></script>
    {{/if}}
</body>

</html>