<div class="row justify-space-between-md">
  <div class="login-card my-6 ">
    <h2 class="title">Login</h2>
    <form class="form box">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="input is-info" type="email" id="email-login" placeholder="email" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="input is-info" type="password" id="password-login" placeholder="password" />
      </div>
      <div class="form-group">
        <button id="loginbtn" class="button is-info my-4" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card my-6">
    <h2 class="title">Signup</h2>
    <form class="box">
     <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="input is-info" type="text" id="email-signup" placeholder="email" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="input is-info" type="password" id="password-signup" placeholder="password" />
      </div>
      <div class="form-group">
        <button id='signup-form' class="button is-info my-4" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
